/* body {
    font-family: "Open Sans", sans-serif;
} */
.wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    padding-right: 10px;
    padding-left: 10px;
}

/* input {
    width : 150px;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
} */
input[type=text] {
  width:100%;
    padding: 20px 20px;
        height: 20px;

    margin: 8px 0;
}

/* input[type=button] {
    background-color: gray;
    border: none;
    color: black;
    
    text-decoration: none;
    font-weight: bold;
        height: 20px;

    margin: 4px 2px;
    cursor: pointer;
} */
input[type=text]:focus {
    background-color: rgb(222, 247, 255);
}
/* input[type=button]:hover {
    background-color: #686868;
} */

#Main_heading{
     text-align: center;
}

#messages {
    margin-top: 12px;
    margin-bottom: 12px;
    padding: 12px;
    width:100%;
    display: inline-block;
    /* border:1px solid black; */
    max-height: 250px;
    min-height: 250px;
    overflow: scroll;
}
#messages span {
    overflow-y: scroll;
    overflow: scroll;
}

#messagesLat {
    margin-top: 12px;
    margin-bottom: 12px;
    padding: 12px;
    width:100%;
    display: inline-block;
    /* border:1px solid black; */
    max-height: 250px;
    min-height: 250px;
    overflow: scroll;
}
#messagesLat span {
    overflow-y: scroll;
    overflow: scroll;
}

#messagesLong {
    margin-top: 12px;
    margin-bottom: 12px;
    padding: 12px;
    width:100%;
    display: inline-block;
    /* border:1px solid black; */
    max-height: 250px;
    min-height: 250px;
    overflow: scroll;
}
#messagesLong span {
    overflow-y: scroll;
    overflow: scroll;
}

#messagesMot {
    margin-top: 12px;
    margin-bottom: 12px;
    padding: 12px;
    width:100%;
    display: inline-block;
    /* border:1px solid black; */
    max-height: 250px;
    min-height: 250px;
    overflow: scroll;
}
#messagesMot span {
    overflow-y: scroll;
    overflow: scroll;
}